body {

    background: limegreen;
    /*overflow: hidden;*/
    margin: 0;
    margin-top: 10px;
}

.computer-score-wrap {

    position: absolute;
    top:2%; right:2%;
    width: 24%;
    height: 5%;
    background: green;
    color: white;
    width: auto;
    height: auto;
    font: bold 1.5em Verdana ;

}

.player-score-wrap {

    position: absolute;
    bottom: 2%; right:2%;
    width: 24%;
    height: 5%;
    background: green;
    color: white;
    width: auto;
    height: auto;
    font: bold 1.5em Verdana;

}

.game-card {

    position: absolute;
        left: 2%;

}

.btns {

    position: absolute;
    bottom: 2%;
    right: 320px;

}

.laid {

    position: absolute;

}

.btns button {

    display: none;
    width: 150%;
    font: bold 1.5em Verdana;

}

.rules-button {

    display: none;
    width: auto;
    margin: 0;
    padding: 0 10px;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    font: bold 1em Verdana;
    background: purple;
    color: white;
    border-radius: 20px 0 10px 0;
    cursor: pointer;

}

.rules {

    position: absolute;
    left: -1500px;
    top: 92px;
    width: 475px;
    padding: 2%;
    color: white;
    background: red;
    border-radius: 10px;
    font: bold 1em Verdana;
    box-shadow: 5px 5px 10px #000;
    opacity: 0;
    z-index: 500;

}

.rules span {

    display: block;
    width: 100%;
    text-align: center;

}

.style-cards {

    width: 165px;
    height: 245px;
    margin: 0 0.5% 0 0.5%;
    border-radius: 8px;    
    border-left: solid 1px #272607;
    border-top: solid 1px grey;
    box-shadow: 10px 10px 15px 0px black;

}

.rulesImg2 {

    margin-left: -50px;

}

.game-coins {

    display: none;
    position: absolute;
    top: 188px;
    left: 850px;

}

.coin {

    width: 104px;
    height: 104px;

}

.container {

    width: 980px;
    height: 661px;
    margin: 0 auto;
    position: relative;
    background-color: green;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 7px #000;
}

.final {

    position: absolute;
    left: 270px;
    top: 220px;
    display: none;
    width: 400px;
    height: 150px;
    padding: 2%;
    color: white;
    background: #ff3300;
    border-radius: 10px;
    font: bold 1.5em Verdana;
    box-shadow: 5px 5px 10px #000;
    opacity: 1;
    z-index: 500;
    text-align: center;

}

.final a {

    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    background: maroon;
    color: white;
    text-decoration: none;

}

.final span {

    display: block;
    width: 100%;
    margin-bottom: 20%;                

}

.final a:hover {

    text-decoration: underline;

}
